<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wjh.dao.UserDao">
    <resultMap id="BaseResultMap" type="org.wjh.domain.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from user  where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user  where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.wjh.domain.User">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user (name) values (#{name,jdbcType=VARCHAR})
    </insert>
    <insert id="batchInsert" parameterType="org.wjh.domain.User">
        insert into user (name) values
        <foreach index="index" separator="," collection="list" item="item">
            (#{item.name,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <update id="update" parameterType="org.wjh.domain.User">
        update user set name = #{name,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
